:root {
  --background: #1f232b;
  --important: #1f232b;
  --main: #2d323e;
  --top: #1f232b;
  --header: #1f232b;
  --text: #eceff4;
  --link: #88c0d0;
  --line: #4c566a;
  --note: #3b4252;
  --note_text: #eceff4;
  --tags: #333842;
  --field_bg: #434c5e;
  --field_border: #434c5e;
  --field_border_focused: #d8dee9;
  --field_text: #eaeaea;
  --submit_bg: #5e81ac;
  --submit_text: #eceff4;
  --red: #ff828e;
  --green: #a3be8c;
  --blue: #5e81ac;
  --yellow: #ccbc8f;
  --information: #121417;
  --checked: #151a21;
  --checked_str: #fff9a6;
  --checked_focus: #838796;
  --form: #2e3440;
  --image: #21262d;
  --checked: #a3be8c;
  --font: "Libre Franklin", "Helvetica", "Arial", sans-serif;
  --font_mono: "Victor Mono", "Roboto Mono", monospace;
  --fontsize: 0.94rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  font-size: var(--fontsize);
  line-height: 1.6rem;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--link);
  text-decoration: underline;
}
.container {
  background-color: var(--main);
  border: 1px solid var(--line);
  border-radius: 5px;
  margin: 50px auto 0 auto;
  max-width: 900px;
  padding: 5px;
}
.section {
  padding: 1rem 0rem;
}
ul {
  list-style: none;
}

/* HEADER */
.header {
  background-color: var(--header);
  border-bottom: 1px solid var(--line);
  display: flex;

  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
}
.headerNav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.headerNav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerNav ul li {
  padding: 0 1rem;
  text-transform: uppercase;
}
.headerImage {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.headerImage > img {
  border-radius: 50%;
}
.signOutBtn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--submit_bg);
  color: var(--submit_text);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.disabled {
  cursor: not-allowed;
  background-color: rgb(136, 7, 7);
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: gray;
  color: var(--submit_text);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.tableListFlex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.select {
  width: 300px;
  color: black;
}

.welcomeText {
  font-size: 38px;
  background: -webkit-linear-gradient(rgb(169, 245, 154), rgb(26, 147, 19));
  -webkit-background-clip: text;
  text-align: center;
  line-height: 1.3;
  -webkit-text-fill-color: transparent;
}

.h {
  z-index: 10;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: transparent;
  white-space: nowrap;
  background-clip: text;
  background-color: #ffffff;
  transition-duration: 1000ms;
  -webkit-text-stroke: 1px hsla(0, 0%, 100%, 0.3);
  cursor: default;
  animation: title 3s ease-out forwards;
  @media (min-width: 640px) {
    font-size: 3.75rem;
    line-height: 1;
  }
  @media (min-width: 768px) {
    font-size: 3rem;
    line-height: 1;
  }
}
@keyframes title {
  0% {
    line-height: 0%;
    letter-spacing: 0.25em;
    opacity: 0;
  }

  25% {
    line-height: 0%;
    opacity: 0;
  }
  80% {
    opacity: 100%;
  }
  100% {
    line-height: 100%;
    opacity: 100%;
  }
}

/* MODAL */

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  padding: 2rem;
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
  max-height: 36rem;
  max-width: 36rem;
  transform: translate(-50%, -50%);
  color: #111827;

  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.modalTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

/* CreateTable */

.styledTable {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  width: 80%;
  margin: 0 auto;

  text-align: center;
  font-size: 12px;
  border-spacing: 2px;
  border-color: gray;
}

.styledTable > thead {
  display: table-header-group;

  background-color: #7b7b7b;
  border-color: inherit;
}
.styledTable > tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.styledTable > tbody > tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: lightgray;
  line-height: 1.2;
  font-weight: unset;
}
.styledTable > tbody > tr > td {
  padding: 0.75rem;
  margin: 0 auto;
}
.styledTable > tbody > tr:nth-child(odd) {
  background-color: rgb(218, 218, 218);
}
.styledTable > tbody > tr:nth-child(odd) {
  background-color: rgb(98, 98, 98);
}

/* FOOTER */
.footer {
  background-color: var(--footer);
  border-top: 1px solid var(--line);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
